[submodule "nvim"]
	path = nvim
	url = git@github.com:beckhausen/init.lua.git
	branch = main
[submodule "dwm"]
	path = dwm
	url = git@github.com:beckhausen/dwm.git
[submodule "st"]
	path = st
	url = git@github.com:beckhausen/suckless-terminal.git
