alacritty
antigen
autostart
BraveSoftware
Code
code-oss
coreapps
cubocore
dconf
Electron
google-chrome
gtk*
menus
mpv
neofetch
nitrogen
okular*
pavucontrol.ini
pipewire
pulse
qutebrowser
ranger
rclone
skypeforlinux
systemd
transmission
vale
wget
wireshark
xfce4
htop
dunst
Slack
Thunar
mimeapps.list
nvidia
picom
yarn
spotify-tui
obsidian

### C
# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf
# Linker output
*.ilk
*.map
*.exp
# Precompiled Headers
*.gch
*.pch
# Libraries
*.lib
*.a
*.la
*.lo
# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib
# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
# Debug files
*.dSYM/
*.su
*.idb
*.pdb
# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
### Zsh
# Zsh compiled script + zrecompile backup
*.zwc
*.zwc.old
# Zsh completion-optimization dumpfile
*zcompdump*
# Zsh zcalc history
.zcalc_history
# A popular plugin manager's files
._zinit
.zinit_lstupd
# zdharma/zshelldoc tool's files
zsdoc/data
# robbyrussell/oh-my-zsh/plugins/per-directory-history plugin's files
# (when set-up to store the history in the local directory)
.directory_history
# MichaelAquilina/zsh-autoswitch-virtualenv plugin's files
# (for Zsh plugins using Python)
.venv
# Zunit tests' output
/tests/_output/*
!/tests/_output/.gitkeep
zprofile.private
### Vim
# Swap
[._]*.s[a-v][a-z]
!*.svg  # comment out if you don't need vector files
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]
# Session
Session.vim
Sessionx.vim
# Temporary
.netrwhist
*~
# Auto-generated tag files
tags
# Persistent undo
[._]*.un~
packer_compiled.lua
.gdb_history

spell/
JetBrains
LanguageTool
QtProject.conf
calcurse/
inkscape/
ipython/
latexindent_settings.yml
radareorg/
rizin/
sqlitebrowser/
xournalpp/
zathura/
